{% extends '@main/template.twig' %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                Offers

                <a href="/offer/create" class="btn btn-success pull-right">Create new offer</a>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Type</td>
                    <td>Seller</td>
                    <td>PM</td>
                    <td>Min/max</td>
                    <td>Price per 1 BTC</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                {% for offer in offerService.findAllByPlayerId(user.getId()) %}
                    {% set currency = currencyService.findById(offer.getCurrencyId()) %}
                    <tr>
                        <td>
                            {% if offer.getType() == 0 %}
                                Sell
                            {% else %}
                                Buy
                            {% endif %}
                        </td>
                        <td>{{ playerService.findById(offer.getPlayerId()).getFullName() }}</td>
                        <td>{{ paymentMethodService.findById(offer.getPaymentMethodId()).getName() }}</td>
                        <td>{{ offer.getMin() }} {{ currency.getSign() }}
                            / {{ offer.getMax( ) }} {{ currency.getSign() }}</td>
                        <td>{{ (bitcoin + ((offer.getMargin() / 100) * bitcoin)) * currency.getExchangeRate() }} {{ currency.getSign() }}</td>
                        <td>
                            <a href="/offer/{{ offer.getId() }}">Edit</a> |
                            <a href="/offer/delete/{{ offer.getId() }}" class="delete-link">Delete</a> |

                            {% if offer.isDisabled() %}
                                <a href="/offer/enable/{{ offer.getId() }}">Enable</a>
                            {% else %}
                                <a href="/offer/disable/{{ offer.getId() }}">Disable</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Trades
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Trade Id</td>
                    <td>Type</td>
                    <td>Partner</td>
                    <td>Fiat</td>
                    <td>Bitcoin</td>
                    <td>Payment Method</td>
                    <td>Status</td>
                    <td>Started</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                {% for trade in tradeService.findByPlayerOrPartner(user.getId()) %}
                    {% set offer = offerService.findById(trade.getOfferId()) %}
                    {% set currency = currencyService.findById(offer.getCurrencyId()) %}
                    <tr>
                        <td>{{ trade.getId() }}</td>
                        <td>
                            {% if offer.getType() == 0 %}
                                Sell
                            {% else %}
                                Buy
                            {% endif %}
                        </td>
                        <td>{{ playerService.findById(trade.getPartnerId()).getFullName() }}</td>
                        <td>{{ trade.getAmountFiat() }} {{ currency.getSign() }}</td>
                        <td>{{ trade.getAmountBitcoin() }} ฿</td>
                        <td>{{ paymentMethodService.findById(offer.getPaymentMethodId()).getName() }}</td>
                        <td>{{ trade.getStatus() }}</td>
                        <td>{{ trade.getCreatedAt() }}</td>
                        <td>
                            {% if offer.getPlayerId() == user.getId() %}
                                <a class="btn btn-sm btn-default" href="/trade/release/{{ trade.getId() }}">Release</a>
                            {% endif %}

                            {% if trade.getStatus() == 'created' %}
                                <a class="btn btn-sm btn-default" href="/trade/cancel/{{ trade.getId() }}">Cancel</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Balance changes</div>
        <div class="panel-body">
            Not implemented yet
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('.delete-link').on('click', function (event) {
                if (!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            })
        });
    </script>
{% endblock %}