{% extends '@main/template.twig' %}

{% block content %}
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username"
                       id="inputUsername" {% if not player.isNewRecord() %} disabled="disabled" {% endif %}
                       placeholder="Username" value="{{ player.getUsername() }}">

                <span class="small collapse" id="usernameText">Username is taken</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
                       value="{{ player.getEmail() }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" name="first_name" class="form-control" id="inputFirstName" placeholder="First Name"
                       value="{{ player.getFirstName() }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" name="last_name" class="form-control" id="inputLastName" placeholder="Last Name"
                       value="{{ player.getLastName() }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputBirth" class="col-sm-2 control-label">Birth Date</label>
            <div class="col-sm-10">
                <input type="text" name="birth_date" class="form-control" id="inputBirth" placeholder="dd.mm.yyyy"
                       value="{{ player.getBirthDate() }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% if player.isNewRecord() %}
                    <button type="submit" id="saveButton" class="btn btn-primary">
                        Create
                    </button>
                {% else %}
                    <button type="submit" id="saveButton" class="btn btn-success">
                        Update
                    </button>
                {% endif %}
            </div>
        </div>
    </form>

    <script>
        var $input = document.getElementById('inputUsername');
        var $text = document.getElementById('usernameText');

        var $xhr;

        $input.onchange = function (event) {

            try {
                $xhr.cancel();
            } catch (e) {}

            try {
                $xhr = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    $xhr = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (E) {
                    $xhr = false;
                }
            }
            if (!$xhr && typeof XMLHttpRequest != 'undefined')
                $xhr = new XMLHttpRequest();


            var $form = new FormData();

            $form.append('username', $input.value);

            $xhr.open('POST', '/player/checkUsername', false);
            $xhr.send($form);

            if ($xhr.status == 200) {
                var $object = JSON.parse($xhr.responseText);

                $input.parentNode.classList.remove('has-error');
                $input.parentNode.classList.remove('has-success');

                $text.classList.remove('in');

                if ($object.taken == 1) {
                    $input.parentNode.classList.add('has-error');
                    $text.classList.add('in');
                } else {
                    $input.parentNode.classList.add('has-success');
                }
            }
        };
    </script>
{% endblock %}